
mixin nav(className, nav)
  nav(class=className)
    ul(class=`${className}_list`)
      each href,name in nav
        li(class=`${className}_item`)
          a(href=href, class=`${className}_link`+((name === current) ? ` ${className}_link--active` : ""))=name
        
mixin icon(className,text,href,icon)
  li(class=`${className}_item`)  
    a(id=text, class=`${className}_link`, href=href)=text
      svg(class=`${className}_icon`)
        use(xlink:href=icon)

mixin button(className,text,icon)
    button(class=className)
      if icon!='' 
        svg.btn_icon 
          use(xlink:href=icon)
      =text

mixin link(className,text,href,icon)
    a(class=className,href=href)
      if icon!='' 
        svg.btn_icon 
          use(xlink:href=icon)
      =text

     

mixin input(tag,type,id,name,placeholder,value,icon)
  .form_item
    if tag=='input'
      input(type=type id=id name=name placeholder=placeholder value=value)
    if tag=='textarea'
      textarea(rows='3' id=id name=name placeholder=placeholder)=value
    if icon!=''
      label(for id=id)
        svg.form_icon
          use(xlink:href=icon)
  

mixin socials
  ul(class="socials_list")
    +icon("socials","vk", "a", "assets/img/sprite.svg#soc_vk")
    +icon("socials","facebook", "b", "assets/img/sprite.svg#soc_fb")
    +icon("socials","twitter", "c", "assets/img/sprite.svg#soc_twitter")
    +icon("socials","google", "d", "assets/img/sprite.svg#social_google")
    +icon("socials","email", "e", "assets/img/sprite.svg#soc_email")
    

       
  





